@using Tdd4.net.Features
@using Tdd4.net.Features.Add
@using Tdd4.net.Features.Remove
@model Tdd4.net.Features.Home.AllPostsModel
           
@{
    this.Asset("bootstkrap");
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Razor test</title>
        @this.WriteAssetTags()
    </head>
    <body>
        tttttttttt
        <h1>@Model.Message</h1>Text
        @foreach(var post in Model.Posts)
        {
            @: <h2>@post.Title</h2>
            @: <p>@post.Body</p>
            @: <p>@post.ImageDescription</p>
            @: <img src="@post.ImageUrl"/>
            @: ===============
            <br/>
            @this.LinkTo(new RemoveModel{PostIdToRemove = post.Id}).Text("Remove Post")

        }asdasd
        <br/>
        @this.LinkTo(new FooAddPost()).Text("Add new post")
@*        <button onclick=""></button>*@

        <h2>@Guid.NewGuid().ToString()</h2>
    </body>
</html>