@using Tdd4.net.Business
@using Tdd4.net.Features.Add
@using Tdd4.net.Features.Remove
@model Tdd4.net.Features.Home.AllPostsModel
           
<h1>@Model.Message</h1>Text
@foreach (Post post in Model.Posts)
{
    @: <h2>@post.Title</h2>
    @: <p>@post.Body</p>
    @: <p>@post.ImageDescription</p>
    @: <img src="@post.ImageUrl"/>
    @: ===============
    <br/>
    @this.LinkTo(new RemoveModel {PostIdToRemove = post.Id}).Text("Remove Post")
}
<br/>
@*@this.LinkTo(new FooAddPost()).Text("Add new post")*@

@*<h2>@Guid.NewGuid().ToString()</h2>*@